<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.nahoft.nahoft">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Nahoft"
        android:allowBackup="false"
        android:configChanges="keyboardHidden|orientation"
        android:icon="@drawable/nahoft_icon_launcher_foreground"
        android:installLocation="internalOnly"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/nahoft_icon_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MessagesMenuActivity"></activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="org.nahoft.nahoft.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activities.VerifyFriendActivity" />
        <activity
            android:name=".activities.ImportImageTextActivity"
            android:label="@string/import_screen_name" />
        <activity
            android:name=".activities.AddFriendActivity"
            android:label="@string/add_friends_screen_name" />
        <activity android:name=".activities.SelectKeySenderActivity" />
        <activity android:name=".activities.SelectMessageSenderActivity" />
        <activity android:name=".activities.MessageActivity" />
        <activity
            android:name=".activities.PasscodeActivity"
            android:label="@string/create_passcodes_screen_name" />
        <activity
            android:name=".activities.EnterPasscodeActivity"
            android:icon="@mipmap/nahoft_icon_launcher_round"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.FriendsActivity"
            android:label="@string/friends_screen_name" />
        <activity
            android:name=".activities.FriendSelectionActivity"
            android:label="@string/choose_friend_to_message" />
        <activity
            android:name=".activities.NewMessageActivity"
            android:label="@string/compose_message_screen_name" />
        <activity
            android:name=".activities.ReceivingMessageUserGuideActivity"
            android:label="@string/imports_user_guide_screen_name" />
        <activity
            android:name=".activities.SettingsUserGuideActivity"
            android:label="@string/passcodes_user_guide_screen_name" />
        <activity
            android:name=".activities.SendingMessagesUserGuideActivity"
            android:label="@string/messages_user_guide_screen_name" />
        <activity
            android:name=".activities.FriendsUserGuideActivity"
            android:label="@string/friends_user_guide_screen_name" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/settings_screen_name" />
        <activity
            android:name=".activities.UserGuideActivity"
            android:label="@string/user_guides_screen_name" />
        <activity
            android:name=".activities.MessagesActivity"
            android:icon="@drawable/app_shortcut_email"
            android:label="@string/messages_screen_name" />
        <activity android:name=".activities.HomeActivity">

            <!-- Allows other apps to share images with us -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <!-- Allows other apps to share text with us -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>
    </application>

</manifest>