<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.nahoft.nahoft">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
            android:maxSdkVersion="28"/>
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />


    <application
        android:name=".Nahoft"
        android:allowBackup="false"
        android:configChanges="keyboardHidden|orientation"
        android:icon="@mipmap/ic_launcher"
        android:installLocation="internalOnly"
        android:label="Nahoft"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.ReadActivity"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="org.nahoft.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            >

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".activities.VerifyFriendActivity"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"/>
        <activity
            android:name=".activities.ImportImageActivity"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"/>
        <activity
            android:name=".activities.ImportTextActivity"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"/>
        <activity
            android:name=".activities.AddFriendActivity"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"/>
        <activity
            android:name=".activities.SelectKeySenderActivity"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"/>
        <activity
            android:name=".activities.SelectMessageSenderActivity"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"/>
        <activity
            android:name=".activities.MessageActivity"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"/>
        <activity
            android:name=".activities.PasscodeActivity"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"/>
        <activity
            android:name=".activities.EnterPasscodeActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.FriendsActivity"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"/>
        <activity
            android:name=".activities.FriendSelectionActivity"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"/>
        <activity
            android:name=".activities.CreateActivity"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"/>
        <activity
            android:name=".activities.ImportingUserGuideActivity"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"/>
        <activity
            android:name=".activities.SettingsUserGuideActivity"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"/>
        <activity
            android:name=".activities.SendingMessagesUserGuideActivity"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"/>
        <activity
            android:name=".activities.FriendsUserGuideActivity"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"/>
        <activity
            android:name=".activities.SettingPasscodeActivity"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"/>
        <activity
            android:name=".activities.HelpActivity"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"/>
        <activity
            android:name=".activities.MessagesActivity"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"/>
        <activity
            android:name=".activities.HomeActivity"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true">

            <!-- Allows other apps to share images with us -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <!-- Allows other apps to share text with us -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>